
#text {
    position: relative;
height: 300px;
width: 300px;
top: 10px;

}

h3 {
    position: relative;
    margin-bottom: 0px;

}


#submit-button {
    right: 300px;
    top: 70px;
    position: relative;
    background-color: #FFCC33;
    border-radius: 30px 30px 30px 30px;
    color: yellow;
    height: 40px;
    width: 100px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #D2691E;
    cursor: pointer;
}

#submit-text {
    position: relative;
    color: blue;
    bottom: 8px;
}
